<ActionBar background="#000000">
    <Label class="titulo" text="Cotizaciones" color="white"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>
<StackLayout  padding="5%" margin="5%" backgroundColor="#f4f4f4">

    <label text="Placa:" class="text-center"></label>
    <TextField autocapitalizationType="allCharacters" padding="10" hint="Ingrese la placa del vehiculo"/>
    <label text="Marca:" paddingTop="10" class="text-center"></label>
    <TextField padding="10" hint="Ingrese la marca del vehiculo" />
    <label text="Modelo:" paddingTop="10" class="text-center"></label>
    <TextField padding="10" hint="Ingrese el modelo del vehiculo" />
    <label text="Descripcion del problema:" paddingTop="10" class="text-center"></label>
    <TextField padding="10" hint="Ingrese el problema " paddingBottom="40"/>
    <label text="Correo:" paddingTop="10" class="text-center" ></label>
    <TextField padding="10" hint="Ingrese su correo " />
    <label text="Telefono" paddingTop="10"class="text-center"></label>
    <TextField padding="10" hint="Ingrese el numero de telefono " />
    <Label padding="5"></Label>
    <Button text="Cotizar" class="btn_amarillo"></Button>
    <StackLayout>
      <GridLayout rows=" *, auto" height="100%">
    
          <StackLayout dock="bottom" row="1" orientation="horizontal" horizontalAlignment="center">
            <Button class="fas" text="&#xf015;" [nsRouterLink]="['/home']"></Button>
            <Button class="fas" text="&#xf217;" [nsRouterLink]="['/productos']"></Button>
            <Button class="fas" text="&#xf007;" [nsRouterLink]="['/verperfil']"></Button>
          </StackLayout>
          
        
      </GridLayout>
    </StackLayout>
    
  
</StackLayout>
  
  

