<ActionBar backgroundColor="white">
    <Label text="Calificaciones" color="black"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>

<StackLayout>
    <label class="calificaciones">Comentarios</label>
    <TextView hint="Ingrese su comentario..."  paddingBottom="40"/>
    <label class="calificaciones">Calificaciones</label>
    <GridLayout height="15%">

        <StackLayout orientation="horizontal" horizontalAlignment="center" >
          <button class="fas estrella" text="&#xf005;"></button>
          <button class="fas estrella" text="&#xf005;"></button>
          <button class="fas estrella" text="&#xf005;"></button>
          <button class="fas estrella" text="&#xf005;"></button>
          <button class="fas estrella" text="&#xf005;"></button>
        </StackLayout>
  
  
      </GridLayout>
   
</StackLayout>
