<ActionBar backgroundColor="black">
    <Label text="Citas" color="white"></Label>
    <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" background="white"/>
</ActionBar>

<StackLayout backgroundColor="#f4f4f4">
    <Label id="tit" text='Citas agendadas'  class="texto_centrado"></Label>
    <Image src="~/app/images/calendario.png" id="img1"></Image>
    <ListView  class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <GridLayout columns="30, *, 35, auto">
                <Label [text]="item.id" col="0" class="fas list-group-item"></Label>
                <Label [text]="item.fechaServicio" col="1" class="fas list-group-item"></Label>
                <Label text="&#xf2ed;" col="2" class="far list-group-item" (tap)="eliminarCat(item)"></Label>
                <Label text="&#xf044;" col="3" class="far list-group-item" (tap)="editarCat(item)"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    <Label text="" height="70px"></Label>
    <Button text="Agendar" [nsRouterLink]="['/formularioDate']" clearHistory="true" pageTransition="slide"></Button>
    <GridLayout rows=" *, auto" height="100%">
      
        <StackLayout dock="bottom" row="1" orientation="horizontal" horizontalAlignment="center">
          <Button class="fas" text="&#xf015;" [nsRouterLink]="['/home']"></Button>
          <Button class="fas" text="&#xf217;" [nsRouterLink]="['/productos']"></Button>
          <Button class="fas" text="&#xf007;" [nsRouterLink]="['/verperfil']"></Button>
        </StackLayout>
        
      
    </GridLayout>


    
</StackLayout>