<ActionBar background="black">
  <Label class="titulo" text="Productos" color="white"></Label>
  <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" />
</ActionBar>

<ScrollView orientation="vertical">
    
  <StackLayout flexWrap="wrap" justifyContent="space-around" class="p-15 " backgroundColor="#FFF7DF">
      <FlexboxLayout flexWrap="wrap" justifyContent="space-around" class="p-15 " backgroundColor="#FFF7DF">

          <StackLayout *ngFor="let producto of productos" id="card" class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="lightgray">
              <Image class="imagen_servicio" [src]="producto.foto"></Image>
              <Label  text="{{ producto.nombre }}" borderRadius="5" backgroundColor="lightgray"></Label>
              <label text="{{ producto.descripcion_producto }}   "></label>
              <label text="$ {{ producto.Precio }}   "></label>
              <button  (tap)="addToCart(product)" text="Añadir al carrito"> </button>
          </StackLayout >
   
      </FlexboxLayout> 

  </StackLayout>

</ScrollView>
<GridLayout rows=" *, auto" height="100%">
    
  <StackLayout  dock="bottom" row="1" orientation="horizontal" horizontalAlignment="center">
    <Button class="fas" text="&#xf015;" [nsRouterLink]="['/home']"></Button>
    <Button class="fas" text="&#xf217;" [nsRouterLink]="['/productos']"></Button>
    <Button class="fas" text="&#xf007;" [nsRouterLink]="['/verperfil']"></Button>
  </StackLayout>   

</GridLayout>