<ActionBar backgroundColor="black">
  <Label style="color: white" text="Productos" ></Label>
  <NavigationButton text="Go back" android.systemIcon="ic_menu_back" (tap)="onTap()" background="white" />
</ActionBar>
<ScrollView backgroundColor="#f4f4f4">
  <StackLayout backgroundColor="#f4f4f4">
    <label class="negrita" text="Productos" id="tit2" height="60" horizontalAlignment="center"></label>
    <FlexboxLayout flexWrap="wrap" justifyContent="space-around" class="p-15 m-t-20">
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image src="~/app/images/product.png"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"   backgroundColor="#ecbc5b"></Button>
      </StackLayout>
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image  src="~/app/images/nitro_producto.jpg"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"  backgroundColor="#ecbc5b"></Button>
      </StackLayout>
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image src="~/app/images/carburador_producto.jpg"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"  backgroundColor="#ecbc5b"></Button>
      </StackLayout>
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image src="~/app/images/frenos_producto.jpg"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"  backgroundColor="#ecbc5b"></Button>
      </StackLayout>
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image src="~/app/images/product.png"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"  backgroundColor="#ecbc5b"></Button>
      </StackLayout>
      <StackLayout id="card"  class="p-5 m-l-15 m-r-15 m-b-15 text-center" backgroundColor="#FFF7DF" >
        <Image src="~/app/images/product.png"></Image>

        <Label class="h2" text="MOBIL SUPER MOTO 4T 20W50" textWrap="true"></Label>
        <Label class="h3" text="Precio: $31.000"></Label>
        <Button text="Comprar" [nsRouterLink]="['/producto_vista']" pageTransition="slide"  backgroundColor="#ecbc5b"></Button>
      </StackLayout>
    </FlexboxLayout>
    <GridLayout rows=" *, auto" height="100%">
      
      <StackLayout dock="bottom" row="1" orientation="horizontal" horizontalAlignment="center">
        <Button class="fas" text="&#xf015;" [nsRouterLink]="['/home']"></Button>
        <Button class="fas" text="&#xf217;" [nsRouterLink]="['/productos']"></Button>
        <Button class="fas" text="&#xf007;" [nsRouterLink]="['/verperfil']"></Button>
      </StackLayout>
      
    
  </GridLayout>

  </StackLayout>
</ScrollView>

<StackLayout >
  <ListView height="150" [items]="categorias" (itemTap)="onItemTap($event)" class="list-group">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
          <GridLayout columns="30, *, 35, auto">
              <Label [text]="item.id" col="0" class="fas list-group-item"></Label>
              <Label [text]="item.nombre_cat" col="1" class="fas list-group-item"></Label>
              <Label text="&#xf2ed;" col="2" class="far list-group-item" (tap)="eliminarCat(item)"></Label>
              <Label text="&#xf044;" col="3" class="far list-group-item" (tap)="editarCat(item)"></Label>
          </GridLayout>
      </ng-template>
  </ListView>
</StackLayout>