<ScrollView orientation="vertical">
    <GridLayout rows=" 100 458 300 700 " backgroundColor="#faf5e2">


        <StackLayout row="0" justifyContent="center">
            <StackLayout row="0" backgroundColor="#fcf9ee" marginTop="2">
                <label class="separador" backgroundColor="black"></label>
                <FlexboxLayout justifyContent="space-between" style="margin: 5;">
                    <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf060;"
                        android.systemIcon="ic_menu_back" (tap)="onTap()"></button>
                    <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf07a;"></button>
                    <button class="fas" backgroundColor="#CA2141" color="white" text="&#xf2f5;"
                        android.systemIcon="ic_menu_back" (tap)="onTap()"></button>
                </FlexboxLayout>
                <label class="separador" backgroundColor="black" marguinBottom="30"></label>
            </StackLayout>
        </StackLayout>
        <StackLayout row="1" justifyContent="center">
            <ScrollView orientation="horizontal">
                <FlexboxLayout row="1" justifyContent="space-around" marginTop="2">
                    <StackLayout style="margin-left: 10;" backgroundColor="black" justifyContent="center" width="320"
                        marginTop="15" height="390" id="k">
                        <Image src="~/app/images/tuercas.png" id="img"></Image>
                        <button backgroundColor="#CA2141" color="white" width="160" height="40"
                            text="¡MOSTRAR CITAS!"></button>
                    </StackLayout>
                    <StackLayout style="margin-left: 10;" backgroundColor="black" justifyContent="center" width="320"
                        marginTop="15" height="390" id="k">
                        <Image src="~/app/images/tuercas.png" id="img"></Image>
                        <button backgroundColor="#CA2141" color="white" width="160" height="40"
                            text="¡MOSTRAR CITAS!"></button>
                    </StackLayout>
                    <StackLayout style="margin-left: 10;" backgroundColor="black" justifyContent="center" width="320"
                        marginTop="15" height="390" id="k">
                        <Image src="~/app/images/tuercas.png" id="img"></Image>
                        <button backgroundColor="#CA2141" color="white" width="160" height="40"
                            text="¡MOSTRAR CITAS!"></button>
                    </StackLayout>
                </FlexboxLayout>
            </ScrollView>
        </StackLayout>

        <StackLayout row="2" backgroundColor="#fcf9ee">
            <label class="separador" backgroundColor="black"></label>
            <Label text="Productos de 1° calidad" class="text-center" class="m" color="black"></Label>
            <label class="separador" backgroundColor="black" marguinBottom="30"></label>
            <ScrollView orientation="horizontal">

                <FlexboxLayout justifyContent="space-around" style="margin-top: 40;">
                    <img src="~/app/images/volvo.png" class="imgs" style="margin: 15;">
                    <img src="~/app/images/ferrari.png" class="imgs" style="margin: 15;">
                    <img src="~/app/images/nissan.png" class="imgs" style="margin: 15;">
                    <img src="~/app/images/volvo.png" class="imgs" style="margin: 15;">
                    <img src="~/app/images/ferrari.png" class="imgs" style="margin: 15;">
                    <img src="~/app/images/nissan.png" class="imgs" style="margin: 15;">
                </FlexboxLayout>
            </ScrollView>
        </StackLayout>







        <StackLayout row="3" backgroundColor="#fcf9ee" paddingTop="15">
            <label class="separador" backgroundColor="black"></label>
            <Label text="Servicios destacados" class="text-center" class="m" color="black"></Label>
            <label class="separador" backgroundColor="black"></label>
            <FlexboxLayout justifyContent="space-around" marginTop="40">
                <StackLayout backgroundColor="black" class="card" width="170" height="250" paddingTop="10">
                    <Image src="~/app/images/aceite.png" width="130" class="auto"></Image>
                    <Label text="Cambio de aceite" class="text-center" class="m" color="white" paddingTop="5"></Label>
                    <button text="Cotizar" [nsRouterLink]="['/cotizacion']" marginTop="10" color="white"
                        backgroundColor="#CA2141"></button>
                </StackLayout>

                <StackLayout backgroundColor="black" class="card" width="170" height="250" paddingTop="25">
                    <Image src="~/app/images/latoneria.png" width="130" class="auto"></Image>
                    <Label text="Latoneria y pintura" class="text-center" class="m" color="white"
                        paddingTop="15"></Label>
                    <button text="Cotizar" color="white" backgroundColor="#CA2141" marginTop="10"></button>
                </StackLayout>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-around" marginTop="40">
                <StackLayout backgroundColor="black" class="card" width="170" height="250" paddingTop="10">
                    <Image src="~/app/images/grua.png" width="130" class="auto"></Image>
                    <Label text="Latoneria y pintura" class="text-center" class="m" color="white"
                        paddingTop="30"></Label>
                    <button text="Cotizar" marginTop="10" color="white" backgroundColor="#CA2141"></button>
                </StackLayout>

                <StackLayout backgroundColor="black" class="card" width="170" height="250" paddingTop="10">
                    <Image src="~/app/images/peritage.png" width="130" class="auto"></Image>
                    <Label text="Peritage" class="text-center" class="m" color="white" paddingTop="5"></Label>
                    <button text="Cotizar" marginTop="10" color="white" backgroundColor="#CA2141"></button>
                </StackLayout>
            </FlexboxLayout>

        </StackLayout>





    </GridLayout>
</ScrollView>